table {
  width: 100%;
}
th {
  background-color: blueviolet;
  color: #fff;
  position: absolute;
  left: 0;
  width: 100px;
  height: 36px;
}
.outer {
  position: relative;
}
.inner {
  overflow-x: scroll;
  overflow-y: visible;
  width: 400px;
  margin-left: 100px;
}
